fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[argon2]
python-multipart
supabase
openai
httpx
python-dotenv
pytest
pypdf
psycopg2-binary
email-validator
google-generativeai
groq
